<div class="d-flex flex-column align-items-center justify-content-center vh-100 text-center">
  <h1 class="display-1 text-danger">404</h1>
  <h2 class="text-danger-emphasis">You've wandered too far...</h2>
  <p class="lead">
    Don't look for this page again.
  </p>
  <img
    alt="Funny 404 gif"
    class="img-fluid my-3"
    src="https://media.tenor.com/g6-8HD8TgAcAAAAM/vincent-vega-jules-winnfield.gif"
  />
  <button class="btn btn-danger btn-lg mt-3" routerLink="/admin/dashboard">
    Go Home
  </button>
</div>
