<div class="container-fluid p-0">
  <div class="row g-4 p-2">
    @for (exam of exams; track exam.id) {
      <div class="col-auto">
        <div
          class="card text-center"
          (click)="onExamClick(exam.id)"
          style="cursor: pointer; transition: transform 0.3s, box-shadow 0.3s;width: 18rem; border-color: rgba(177,201,203,0.87);"
          [ngClass]="{ 'hover-effect': true }"
        >
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title text-dark w-bold">
              {{ exam.modelName }}
            </h5>
            @if (exam.duration) {
              <button class=" btn btn-outline-dark">
                Duration: {{ exam.duration | durationFormat }}
              </button>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>

<style>
  .card:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.051);
  }
</style>
