<div class="p-2 rounded"
     style="background-color: #ffffff; border-left: 5px solid black; display: flex; align-items: center; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);">
  @if (showDeleteBtn) {
    <button class="btn btn-outline-danger p-1 m-2" (click)="onDelete()">
      <i class="bi bi-trash fs-5"></i>
    </button>
  }
  <div class="form-check mb-2 p-3 rounded"
       style="background-color: #f9f9f9; border: 1px dashed darkgray; flex-grow: 1;">
    <label class=" w-100 form-check-label fw-semibold text-dark" for="question-{{ question.id }}"
           style="font-size: 1rem;">
      <h4> {{ question.text }}</h4>
    </label>
    <ng-content></ng-content>
    <div class=" ms-4 mt-2 small">
      @for (ans of question.answers; track ans.id) {
        <div class="d-flex bg-white bg-opacity-100 p-2 border border-opacity-25 rounded-2 align-items-center my-2">
          <i class="bi"
             [ngClass]="iconClassList(ans)"
             style="font-size: 0.9rem; margin-right: 5px; color: black;"
          ></i>
          <h6>{{ ans.text }}</h6>
        </div>
      }
    </div>
  </div>
</div>
